<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,466},{188,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,153}}</string>
                <key>sourceSize</key>
                <string>{188,153}</string>
            </dict>
            <key>daer22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,234},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>daer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,656},{188,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,153}}</string>
                <key>sourceSize</key>
                <string>{188,153}</string>
            </dict>
            <key>daer33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>daer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,466},{188,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,153}}</string>
                <key>sourceSize</key>
                <string>{188,153}</string>
            </dict>
            <key>daer44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,347},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>mj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,656},{188,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,153}}</string>
                <key>sourceSize</key>
                <string>{188,153}</string>
            </dict>
            <key>mj22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>mj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,466},{188,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,153}}</string>
                <key>sourceSize</key>
                <string>{188,153}</string>
            </dict>
            <key>mj33.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,347},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>mj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,276},{188,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,153}}</string>
                <key>sourceSize</key>
                <string>{188,153}</string>
            </dict>
            <key>mj44.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>pdk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,2},{272,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,186}}</string>
                <key>sourceSize</key>
                <string>{272,186}</string>
            </dict>
            <key>pdk1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,347},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>pdk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,692},{205,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,136}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>pdk22.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>pdk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,692},{205,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,136}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>pdk33.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,347},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>pdk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,692},{205,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,136}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>pdk44.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>pdk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,692},{205,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,136}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>pdk55.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,347},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>pdk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,692},{205,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,136}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>pdk66.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>pdk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,692},{205,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,136}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>pdk77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
            <key>pdk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{205,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,136}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>pdk88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{343,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,230}}</string>
                <key>sourceSize</key>
                <string>{343,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>teaDesk0.png</string>
            <key>size</key>
            <string>{1927,830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2186b87202ab11bb301b2574ae5d9f5$</string>
            <key>textureFileName</key>
            <string>teaDesk0.png</string>
        </dict>
    </dict>
</plist>
