<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_dgn_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_21_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_21_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_21_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_23_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
            <key>com_dgn_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,24}}</string>
                <key>sourceSize</key>
                <string>{270,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comAtlas1.png</string>
            <key>size</key>
            <string>{508,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26885b737425d146b340f144d533807d$</string>
            <key>textureFileName</key>
            <string>comAtlas1.png</string>
        </dict>
    </dict>
</plist>
