<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>combtn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{207,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,68}}</string>
                <key>sourceSize</key>
                <string>{207,68}</string>
            </dict>
            <key>combtn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{207,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,68}}</string>
                <key>sourceSize</key>
                <string>{207,68}</string>
            </dict>
            <key>combtn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,69},{207,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,68}}</string>
                <key>sourceSize</key>
                <string>{207,68}</string>
            </dict>
            <key>combtn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{207,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,68}}</string>
                <key>sourceSize</key>
                <string>{207,68}</string>
            </dict>
            <key>combtn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,134},{173,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,78}}</string>
                <key>sourceSize</key>
                <string>{173,78}</string>
            </dict>
            <key>combtn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,134},{173,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,78}}</string>
                <key>sourceSize</key>
                <string>{173,78}</string>
            </dict>
            <key>combtn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,276},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>combtn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,214},{140,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,64}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
            <key>combtn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{207,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,68}}</string>
                <key>sourceSize</key>
                <string>{207,68}</string>
            </dict>
            <key>combtn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,201},{210,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,60}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>combtn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,72},{199,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,60}}</string>
                <key>sourceSize</key>
                <string>{199,60}</string>
            </dict>
            <key>combtn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,72},{199,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,60}}</string>
                <key>sourceSize</key>
                <string>{199,60}</string>
            </dict>
            <key>combtn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,198},{137,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,62}}</string>
                <key>sourceSize</key>
                <string>{137,62}</string>
            </dict>
            <key>combtn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,134},{137,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,62}}</string>
                <key>sourceSize</key>
                <string>{137,62}</string>
            </dict>
            <key>combtn_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,214},{137,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,62}}</string>
                <key>sourceSize</key>
                <string>{137,62}</string>
            </dict>
            <key>combtn_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,139},{210,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,60}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>combtn_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,262},{134,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,65}}</string>
                <key>sourceSize</key>
                <string>{134,65}</string>
            </dict>
            <key>combtn_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,214},{81,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,65}}</string>
                <key>sourceSize</key>
                <string>{81,65}</string>
            </dict>
            <key>combtn_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{215,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,65}}</string>
                <key>sourceSize</key>
                <string>{215,65}</string>
            </dict>
            <key>combtn_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{215,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,65}}</string>
                <key>sourceSize</key>
                <string>{215,65}</string>
            </dict>
            <key>combtn_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,65}}</string>
                <key>sourceSize</key>
                <string>{215,65}</string>
            </dict>
            <key>combtn_22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,280},{106,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,45}}</string>
                <key>sourceSize</key>
                <string>{106,45}</string>
            </dict>
            <key>combtn_22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,252},{102,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,57}}</string>
                <key>sourceSize</key>
                <string>{102,57}</string>
            </dict>
            <key>combtn_22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,263},{168,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,64}}</string>
                <key>sourceSize</key>
                <string>{168,64}</string>
            </dict>
            <key>combtn_23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,280},{106,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,45}}</string>
                <key>sourceSize</key>
                <string>{106,45}</string>
            </dict>
            <key>combtn_23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,193},{102,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,57}}</string>
                <key>sourceSize</key>
                <string>{102,57}</string>
            </dict>
            <key>combtn_23_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,68},{168,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,64}}</string>
                <key>sourceSize</key>
                <string>{168,64}</string>
            </dict>
            <key>combtn_24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{106,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,45}}</string>
                <key>sourceSize</key>
                <string>{106,45}</string>
            </dict>
            <key>combtn_24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{168,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,64}}</string>
                <key>sourceSize</key>
                <string>{168,64}</string>
            </dict>
            <key>combtn_24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,134},{102,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,57}}</string>
                <key>sourceSize</key>
                <string>{102,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comBtnAtlas0.png</string>
            <key>size</key>
            <string>{1024,331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b104c8ff0a70eb7e80db0c9499d37b75$</string>
            <key>textureFileName</key>
            <string>comBtnAtlas0.png</string>
        </dict>
    </dict>
</plist>
