<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,300},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>c9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,251},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>c9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,359},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>c9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,380},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>c9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,362},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>c9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,154},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>c9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{64,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,3}}</string>
                <key>sourceSize</key>
                <string>{64,3}</string>
            </dict>
            <key>c9_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,394},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>c9_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,391},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>c9_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,394},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>c9_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,410},{69,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,44}}</string>
                <key>sourceSize</key>
                <string>{69,44}</string>
            </dict>
            <key>c9_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{372,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,44}}</string>
                <key>sourceSize</key>
                <string>{372,44}</string>
            </dict>
            <key>c9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,269},{47,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,32}}</string>
                <key>sourceSize</key>
                <string>{47,32}</string>
            </dict>
            <key>c9_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,230},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,58}</string>
            </dict>
            <key>c9_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,251},{81,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,45}</string>
            </dict>
            <key>c9_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,356},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>c9_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,406},{2,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,56}}</string>
                <key>sourceSize</key>
                <string>{2,56}</string>
            </dict>
            <key>c9_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,318},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>c9_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,448},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>c9_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,233},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>c9_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,350},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>c9_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,86},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>c9_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,432},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>c9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,86},{100,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,214}}</string>
                <key>sourceSize</key>
                <string>{100,214}</string>
            </dict>
            <key>c9_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,251},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>c9_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,284},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>c9_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,410},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>c9_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,366},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>c9_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,430},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>c9_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,302},{79,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,101}}</string>
                <key>sourceSize</key>
                <string>{79,101}</string>
            </dict>
            <key>c9_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,298},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>c9_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,417},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>c9_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>c9_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,301},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>c9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,173},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>c9_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,352},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>c9_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,366},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>c9_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,223},{51,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,26}}</string>
                <key>sourceSize</key>
                <string>{51,26}</string>
            </dict>
            <key>c9_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,173},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>c9_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,298},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>c9_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,410},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>c9_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,78},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>c9_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,86},{142,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{142,58}</string>
            </dict>
            <key>c9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,301},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>c9_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,191},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>c9_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,40},{101,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,40}}</string>
                <key>sourceSize</key>
                <string>{101,40}</string>
            </dict>
            <key>c9_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,383},{70,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,98}}</string>
                <key>sourceSize</key>
                <string>{70,98}</string>
            </dict>
            <key>c9_52_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,288},{36,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,90}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>c9_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,168},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>c9_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,356},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>c9_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,244},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>c9_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,40},{81,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,36}}</string>
                <key>sourceSize</key>
                <string>{81,36}</string>
            </dict>
            <key>c9_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,326},{41,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>c9_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,384},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>c9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,366},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>c9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,82},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>c9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,86},{57,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,212}}</string>
                <key>sourceSize</key>
                <string>{57,212}</string>
            </dict>
            <key>c9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{88,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,273}}</string>
                <key>sourceSize</key>
                <string>{88,273}</string>
            </dict>
            <key>c9_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,560}}</string>
                <key>sourceSize</key>
                <string>{36,560}</string>
            </dict>
            <key>c9_l_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{61,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,1}}</string>
                <key>sourceSize</key>
                <string>{61,1}</string>
            </dict>
            <key>c9_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,86},{322,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,3}}</string>
                <key>sourceSize</key>
                <string>{322,3}</string>
            </dict>
            <key>c9_l_v_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,86},{3,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,200}}</string>
                <key>sourceSize</key>
                <string>{3,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comImg9Atlas0.png</string>
            <key>size</key>
            <string>{564,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79833234c6a09a31b0894b485e1c329d$</string>
            <key>textureFileName</key>
            <string>comImg9Atlas0.png</string>
        </dict>
    </dict>
</plist>
