<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comtxt_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,72},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>comtxt_agree_No.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>comtxt_ckbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,241},{114,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{114,32}</string>
            </dict>
            <key>comtxt_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{79,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,33}}</string>
                <key>sourceSize</key>
                <string>{79,33}</string>
            </dict>
            <key>comtxt_ffyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,34}}</string>
                <key>sourceSize</key>
                <string>{123,34}</string>
            </dict>
            <key>comtxt_ffyx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>comtxt_fhdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,140},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>comtxt_fou.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,195},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>comtxt_fxzj.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,116},{117,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,32}}</string>
                <key>sourceSize</key>
                <string>{117,32}</string>
            </dict>
            <key>comtxt_fxzj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,34}}</string>
                <key>sourceSize</key>
                <string>{123,34}</string>
            </dict>
            <key>comtxt_fzfjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,133},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>comtxt_fzgzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>comtxt_fzwxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>comtxt_huanzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,72},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>comtxt_huanzhuo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,246},{81,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,32}}</string>
                <key>sourceSize</key>
                <string>{81,32}</string>
            </dict>
            <key>comtxt_jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,150},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>comtxt_jsfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,106},{117,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,32}}</string>
                <key>sourceSize</key>
                <string>{117,32}</string>
            </dict>
            <key>comtxt_jsfj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,78},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>comtxt_jsyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,34}}</string>
                <key>sourceSize</key>
                <string>{123,34}</string>
            </dict>
            <key>comtxt_jxyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,70},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,34}}</string>
                <key>sourceSize</key>
                <string>{123,34}</string>
            </dict>
            <key>comtxt_jxyx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,36},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>comtxt_ksks.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,40},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>comtxt_lkfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,207},{115,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,32}}</string>
                <key>sourceSize</key>
                <string>{115,32}</string>
            </dict>
            <key>comtxt_qhzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,184},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>comtxt_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,218},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>comtxt_queding1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,252},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>comtxt_quereng.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,36},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>comtxt_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,218},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>comtxt_quxiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,252},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>comtxt_qyqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,32}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>comtxt_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,108},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>comtxt_tcfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>comtxt_tcyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,173},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>comtxt_tijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,250},{71,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{71,33}</string>
            </dict>
            <key>comtxt_ty.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,150},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>comtxt_yanzm.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,142},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,27}}</string>
                <key>sourceSize</key>
                <string>{75,27}</string>
            </dict>
            <key>comtxt_yqhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,218},{103,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,26}}</string>
                <key>sourceSize</key>
                <string>{103,26}</string>
            </dict>
            <key>comtxt_zbks.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>comtxt_zfjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,150},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>comtxt_zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,116},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comtxtAtlas0.png</string>
            <key>size</key>
            <string>{508,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44156c0b229be1e0851641df743b8f7b$</string>
            <key>textureFileName</key>
            <string>comtxtAtlas0.png</string>
        </dict>
    </dict>
</plist>
