<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d2_board0.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,548},{69,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,20}}</string>
                <key>sourceSize</key>
                <string>{69,20}</string>
            </dict>
            <key>d2_btn_tipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,779},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>d2_img_3zhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,779},{116,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,106}}</string>
                <key>sourceSize</key>
                <string>{116,106}</string>
            </dict>
            <key>d2_img_chibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,619},{63,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,123}}</string>
                <key>sourceSize</key>
                <string>{63,123}</string>
            </dict>
            <key>d2_img_chiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,619},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>d2_img_cpline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{535,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,1}}</string>
                <key>sourceSize</key>
                <string>{535,1}</string>
            </dict>
            <key>d2_img_duijia0.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,310},{37,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,236}}</string>
                <key>sourceSize</key>
                <string>{37,236}</string>
            </dict>
            <key>d2_img_duijia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,601},{37,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,197}}</string>
                <key>sourceSize</key>
                <string>{37,197}</string>
            </dict>
            <key>d2_img_fendbg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,306}}</string>
                <key>sourceSize</key>
                <string>{234,306}</string>
            </dict>
            <key>d2_img_hdgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,310},{289,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,140}}</string>
                <key>sourceSize</key>
                <string>{289,140}</string>
            </dict>
            <key>d2_img_headpart.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,601},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>d2_img_hpts.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,151},{233,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,61}}</string>
                <key>sourceSize</key>
                <string>{233,61}</string>
            </dict>
            <key>d2_img_htcbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>d2_img_hutip.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,754},{118,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,31}}</string>
                <key>sourceSize</key>
                <string>{118,31}</string>
            </dict>
            <key>d2_img_hutipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{312,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,147}}</string>
                <key>sourceSize</key>
                <string>{312,147}</string>
            </dict>
            <key>d2_img_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,988},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>d2_img_paidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,988},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>d2_img_paiku.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>d2_img_readed.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,787},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>d2_img_sbg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,787},{75,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,24}}</string>
                <key>sourceSize</key>
                <string>{75,24}</string>
            </dict>
            <key>d2_img_sbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,744},{65,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>d2_img_tangchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,759},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>d2_img_xjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,579},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>d2_img_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,310},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>d2_img_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,151},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>d2_imgfi_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,941},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>d2_imgtxt_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,770},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>d2_imgtxt_chipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,820},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>d2_imgtxt_cpts.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,754},{152,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,23}}</string>
                <key>sourceSize</key>
                <string>{152,23}</string>
            </dict>
            <key>d2_imgtxt_fhdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,501},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>d2_imgtxt_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,919},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>d2_imgtxt_gui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,971},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,950},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,929},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,997},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui5.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,938},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui6.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,938},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui7.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,964},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_hn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,864},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_1x.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,864},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,992},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,971},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,845},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,824},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,883},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,946},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,925},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,904},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,883},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_6x.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,887},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,887},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_7x.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,887},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,950},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_8x.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,929},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,908},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_9x.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,887},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,964},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht10.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,988},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,892},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht13.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,892},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht14.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,967},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht15.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,800},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht16.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,967},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht17.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,815},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht18.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,787},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,985},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht20.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,862},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht21.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,964},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht22.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,502},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht23.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,212},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht24.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,908},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,887},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,866},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht5.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,853},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht6.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,864},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1001},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,803},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht9.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,289},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,912},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>d2_imgtxt_hx.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,866},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>d2_imgtxt_sypd.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,412},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>d2_line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,412},{2,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,99}}</string>
                <key>sourceSize</key>
                <string>{2,99}</string>
            </dict>
            <key>d2_op_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,619},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>d2_op_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,619},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>d2_op_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,484},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>d2_op_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,484},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>d2_op_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,349},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>d2_op_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,214},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>d2_op_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,815},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>d2_op_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,349},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>d2_op_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,214},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>d2_sanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,601},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>d2_txt_dipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,349},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>d2_txt_fanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,853},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>d2_txt_hushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,969},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>d2_txt_jsxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,349},{150,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,36}}</string>
                <key>sourceSize</key>
                <string>{150,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d2Atlas0.png</string>
            <key>size</key>
            <string>{555,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d9214adc3f111c59a1780b94b309f2f$</string>
            <key>textureFileName</key>
            <string>d2Atlas0.png</string>
        </dict>
    </dict>
</plist>
