<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crtrm_arrow_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>crtrm_img9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>crtrm_img9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,63},{62,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,43}}</string>
                <key>sourceSize</key>
                <string>{62,43}</string>
            </dict>
            <key>crtrm_img9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,154},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>crtrm_img9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,127},{74,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,45}}</string>
                <key>sourceSize</key>
                <string>{74,45}</string>
            </dict>
            <key>crtrm_line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{64,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,3}}</string>
                <key>sourceSize</key>
                <string>{64,3}</string>
            </dict>
            <key>crtrm_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{232,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,2}}</string>
                <key>sourceSize</key>
                <string>{232,2}</string>
            </dict>
            <key>crtrm_tag_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,213},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>crtrm_tag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,213},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>crtrm_tag_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,174},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>crtrm_tag_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,174},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>crtrm_tag_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,197},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>crtrm_tag_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,197},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>crtrm_txt_bc.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,114},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{75,38}</string>
            </dict>
            <key>crtrm_txt_bjck.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,50},{75,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,22}}</string>
                <key>sourceSize</key>
                <string>{75,22}</string>
            </dict>
            <key>crtrm_txt_cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,74},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{75,38}</string>
            </dict>
            <key>crtrm_txt_scbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,24},{89,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,24}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>crtrm_txt_xzjbtd.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>crtrm_txt_xzqj.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,50},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crtrmAtlas0.png</string>
            <key>size</key>
            <string>{269,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:767c1144238da115e17d410b5b2190c4$</string>
            <key>textureFileName</key>
            <string>crtrmAtlas0.png</string>
        </dict>
    </dict>
</plist>
