<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,434},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,362},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,212},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,290},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,218},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,146},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,74},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
            <key>niu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niuniu.png</string>
            <key>size</key>
            <string>{566,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a204dfc7e1d174d903e86c98e3024e49$</string>
            <key>textureFileName</key>
            <string>niuniu.png</string>
        </dict>
    </dict>
</plist>
