<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ph_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{448,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,32}}</string>
                <key>sourceSize</key>
                <string>{448,32}</string>
            </dict>
            <key>ph_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{338,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,45}}</string>
                <key>sourceSize</key>
                <string>{338,45}</string>
            </dict>
            <key>ph_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{787,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{787,62}}</string>
                <key>sourceSize</key>
                <string>{787,62}</string>
            </dict>
            <key>ph_img9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,129},{46,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>ph_img9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,129},{75,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>ph_img_jstj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,180},{139,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,49}}</string>
                <key>sourceSize</key>
                <string>{139,49}</string>
            </dict>
            <key>ph_img_jstj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,180},{139,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,49}}</string>
                <key>sourceSize</key>
                <string>{139,49}</string>
            </dict>
            <key>ph_img_playback.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,218},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>ph_img_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,172},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>ph_img_sj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,231},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>ph_img_sj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,190},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>ph_img_sj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,190},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>ph_img_sousuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,105},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>ph_img_tag1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,71},{179,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,56}}</string>
                <key>sourceSize</key>
                <string>{179,56}</string>
            </dict>
            <key>ph_img_tag1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,71},{179,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,56}}</string>
                <key>sourceSize</key>
                <string>{179,56}</string>
            </dict>
            <key>ph_img_tag2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,152},{179,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,56}}</string>
                <key>sourceSize</key>
                <string>{179,56}</string>
            </dict>
            <key>ph_img_tag2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{179,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,56}}</string>
                <key>sourceSize</key>
                <string>{179,56}</string>
            </dict>
            <key>ph_img_wjtj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,129},{139,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,49}}</string>
                <key>sourceSize</key>
                <string>{139,49}</string>
            </dict>
            <key>ph_img_wjtj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,129},{139,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,49}}</string>
                <key>sourceSize</key>
                <string>{139,49}</string>
            </dict>
            <key>ph_imgtxt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,105},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>ph_imgtxt_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,141},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>ph_imgtxt_hj.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,231},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>ph_imgtxt_jstj.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,210},{125,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,36}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
            <key>ph_imgtxt_rq.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,231},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>ph_imgtxt_xq.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,210},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>ph_imgtxt_zcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,231},{65,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,21}}</string>
                <key>sourceSize</key>
                <string>{65,21}</string>
            </dict>
            <key>ph_imgtxt_zjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,231},{65,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,21}}</string>
                <key>sourceSize</key>
                <string>{65,21}</string>
            </dict>
            <key>ph_imgtxt_zxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{65,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,21}}</string>
                <key>sourceSize</key>
                <string>{65,21}</string>
            </dict>
            <key>ph_imt_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>ph_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{787,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{787,3}}</string>
                <key>sourceSize</key>
                <string>{787,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>phAtlas0.png</string>
            <key>size</key>
            <string>{814,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a5eecb7c643191b43765259d87112c8$</string>
            <key>textureFileName</key>
            <string>phAtlas0.png</string>
        </dict>
    </dict>
</plist>
