<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>set_check_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,186},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>set_check_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>set_txt_ckbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{132,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,35}}</string>
                <key>sourceSize</key>
                <string>{132,35}</string>
            </dict>
            <key>set_txt_jsfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{132,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,35}}</string>
                <key>sourceSize</key>
                <string>{132,35}</string>
            </dict>
            <key>set_txt_qhzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{132,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,35}}</string>
                <key>sourceSize</key>
                <string>{132,35}</string>
            </dict>
            <key>set_txt_tcfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,35}}</string>
                <key>sourceSize</key>
                <string>{132,35}</string>
            </dict>
            <key>set_txt_tcyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{131,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,34}}</string>
                <key>sourceSize</key>
                <string>{131,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settingAtlas0.png</string>
            <key>size</key>
            <string>{136,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f534e06895869609878c0a5b1cd3d4ad$</string>
            <key>textureFileName</key>
            <string>settingAtlas0.png</string>
        </dict>
    </dict>
</plist>
