<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_btn_addgm.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,392},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_btn_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,580},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hall_btn_create_rm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{181,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,89}}</string>
                <key>sourceSize</key>
                <string>{181,89}</string>
            </dict>
            <key>hall_btn_join_rm.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,132},{111,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,89}}</string>
                <key>sourceSize</key>
                <string>{111,89}</string>
            </dict>
            <key>hall_btn_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,558},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>hall_btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,40},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>hall_btn_qyq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,245},{110,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,89}}</string>
                <key>sourceSize</key>
                <string>{110,89}</string>
            </dict>
            <key>hall_btn_qyq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{192,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,89}}</string>
                <key>sourceSize</key>
                <string>{192,89}</string>
            </dict>
            <key>hall_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,606},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>hall_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>hall_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,606},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>hall_btn_sqdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>hall_btn_yqyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,357},{102,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{102,87}</string>
            </dict>
            <key>hall_btn_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,604},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>hall_gi_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,522},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,392},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,522},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,392},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,522},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>hall_gi_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,528},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,398},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,268},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,268},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,138},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,528},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_21_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,398},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_21_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,268},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_21_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,138},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_23_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,8},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,450},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,320},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_fls.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,190},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gibg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,8},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gibg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gibg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gibg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_img9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,580},{78,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,64}}</string>
                <key>sourceSize</key>
                <string>{78,64}</string>
            </dict>
            <key>hall_img9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,138},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>hall_img9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,82},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>hall_img_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,558},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hall_img_txmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,461},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>hall_line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{337,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,4}}</string>
                <key>sourceSize</key>
                <string>{337,4}</string>
            </dict>
            <key>hall_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{4,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,90}}</string>
                <key>sourceSize</key>
                <string>{4,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallAtlas0.png</string>
            <key>size</key>
            <string>{1013,658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98536d605343cd100acf0ac0ed368c7a$</string>
            <key>textureFileName</key>
            <string>hallAtlas0.png</string>
        </dict>
    </dict>
</plist>
