<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pdk_img9_jpq.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,69},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>pdk_img_ddxyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{618,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,42}}</string>
                <key>sourceSize</key>
                <string>{618,42}</string>
            </dict>
            <key>pdk_img_hcnumbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,69},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>pdk_img_jpqbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,133},{514,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,80}}</string>
                <key>sourceSize</key>
                <string>{514,80}</string>
            </dict>
            <key>pdk_img_jpqkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,69},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>pdk_img_wjdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,344}}</string>
                <key>sourceSize</key>
                <string>{234,344}</string>
            </dict>
            <key>pdk_imgfi_pdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,46},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>pdk_imgtxt_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,69},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>pdk_imgtxt_guopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,69},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>pdk_imgtxt_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,69},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>pdk_jsimg_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,46},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>pdk_jsimg_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,69},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>pdk_jsimgtxt_yupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,215},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>pdk_jsimgtxt_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,215},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>pdk_txt_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,46},{85,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,32}}</string>
                <key>sourceSize</key>
                <string>{85,32}</string>
            </dict>
            <key>pdk_txt_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,136},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>pdk_txt_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,46},{88,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{88,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pdkAtlas0.png</string>
            <key>size</key>
            <string>{968,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:722c71e1e6882118a9aeeb420adb3706$</string>
            <key>textureFileName</key>
            <string>pdkAtlas0.png</string>
        </dict>
    </dict>
</plist>
