<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jrm_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{513,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,73}}</string>
                <key>sourceSize</key>
                <string>{513,73}</string>
            </dict>
            <key>jrm_img_btnbg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{173,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,78}}</string>
                <key>sourceSize</key>
                <string>{173,78}</string>
            </dict>
            <key>jrm_img_btnbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{173,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,78}}</string>
                <key>sourceSize</key>
                <string>{173,78}</string>
            </dict>
            <key>jrm_img_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{131,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,43}}</string>
                <key>sourceSize</key>
                <string>{131,43}</string>
            </dict>
            <key>jrm_imgtxt_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,77},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>jrm_imgtxt_rein.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,77},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>jrm_imgtxt_rmcode.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,77},{93,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,28}}</string>
                <key>sourceSize</key>
                <string>{93,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jrmAtlas0.png</string>
            <key>size</key>
            <string>{867,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:472ec91c00a56d6a8db4e9ef7b2dce3f$</string>
            <key>textureFileName</key>
            <string>jrmAtlas0.png</string>
        </dict>
    </dict>
</plist>
