<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bs_0_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,170},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bs_0_gd.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,154},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{38,62}</string>
            </dict>
            <key>bs_0_jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,89},{326,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,74}}</string>
                <key>sourceSize</key>
                <string>{326,74}</string>
            </dict>
            <key>bs_0_jjno.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{516,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,75}}</string>
                <key>sourceSize</key>
                <string>{516,75}</string>
            </dict>
            <key>bs_0_jpt.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,43},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,24}}</string>
                <key>sourceSize</key>
                <string>{99,24}</string>
            </dict>
            <key>bs_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{62,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,132}}</string>
                <key>sourceSize</key>
                <string>{62,132}</string>
            </dict>
            <key>bs_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,136},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>bs_9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,165},{92,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,45}}</string>
                <key>sourceSize</key>
                <string>{92,45}</string>
            </dict>
            <key>bs_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,43},{65,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,44}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>bs_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{61,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,550}}</string>
                <key>sourceSize</key>
                <string>{61,550}</string>
            </dict>
            <key>bs_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,136},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>bs_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,187},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bs_9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,89},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>bs_9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,194},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>bs_9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,171},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>bs_9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,193},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>bs_a_pm.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,208},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>bs_a_xuanz.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{227,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,85}}</string>
                <key>sourceSize</key>
                <string>{227,85}</string>
            </dict>
            <key>bs_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{630,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,34}}</string>
                <key>sourceSize</key>
                <string>{630,34}</string>
            </dict>
            <key>bs_line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,194},{12,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,2}}</string>
                <key>sourceSize</key>
                <string>{12,2}</string>
            </dict>
            <key>bs_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,165},{44,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,2}}</string>
                <key>sourceSize</key>
                <string>{44,2}</string>
            </dict>
            <key>bs_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{393,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,2}}</string>
                <key>sourceSize</key>
                <string>{393,2}</string>
            </dict>
            <key>bs_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,3}}</string>
                <key>sourceSize</key>
                <string>{722,3}</string>
            </dict>
            <key>bs_line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,212},{27,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,2}}</string>
                <key>sourceSize</key>
                <string>{27,2}</string>
            </dict>
            <key>bs_pm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,194},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>bs_pm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,165},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>bs_pm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,187},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>bs_txt_jbdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,187},{139,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,37}}</string>
                <key>sourceSize</key>
                <string>{139,37}</string>
            </dict>
            <key>bs_txt_ksks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{139,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,37}}</string>
                <key>sourceSize</key>
                <string>{139,37}</string>
            </dict>
            <key>bs_txt_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,106},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>bs_txt_lxkf.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,165},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>bs_txt_mfbm.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,183},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>bs_txt_qr.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,194},{81,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,34}}</string>
                <key>sourceSize</key>
                <string>{81,34}</string>
            </dict>
            <key>bs_txt_ts.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,7},{85,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,34}}</string>
                <key>sourceSize</key>
                <string>{85,34}</string>
            </dict>
            <key>bs_txt_xxdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,165},{94,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,27}}</string>
                <key>sourceSize</key>
                <string>{94,27}</string>
            </dict>
            <key>bs_txt_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,212},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>bs_txt_zjjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,212},{92,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,27}}</string>
                <key>sourceSize</key>
                <string>{92,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bisaiAtlas.png</string>
            <key>size</key>
            <string>{1021,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:817e70a23f283a5804a76b276e3edcda$</string>
            <key>textureFileName</key>
            <string>bisaiAtlas.png</string>
        </dict>
    </dict>
</plist>
