<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,95},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,95},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,95},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com_biaoqing_haixiu.png</string>
            <key>size</key>
            <string>{370,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a089dabf68c5968da7a850b1befdf2d2$</string>
            <key>textureFileName</key>
            <string>com_biaoqing_haixiu.png</string>
        </dict>
    </dict>
</plist>
