<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,95},{95,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{95,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{95,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com_biaoqing_se.png</string>
            <key>size</key>
            <string>{196,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14a7d07635d649a6518bb6c2191a10bb$</string>
            <key>textureFileName</key>
            <string>com_biaoqing_se.png</string>
        </dict>
    </dict>
</plist>
